/* Alignment styles for images, videos and iframes in editable regions */

/* Center (default) */
[data-region] iframe,
[data-region] image,
[data-region] [data-ce-tag=img],
[data-region] img,
[data-region] video {
  clear: both;
  display: block;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  max-width: 100%;
}

/* Left align */
[data-region] .align-left {
  clear: initial;
  float: left;
  margin-right: 0.5em;
}

/* Right align */
[data-region].align-right {
  clear: initial;
  float: right;
  margin-left: 0.5em;
}

/* Alignment styles for text in editable regions */
[data-region] .text-center {
  text-align: center;
}

[data-region] .text-left {
  text-align: left;
}

[data-region] .text-right {
  text-align: right;
}

.author {
  font-style: italic;
  font-weight: bold;
}

.ct-widget .ct-anchored-dialog__settings-button {
  background: #fff;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-family: icon;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 32px;
}
.ct-widget .ct-anchored-dialog__settings-button::before {
  color: #a4a4a4;
  content: "\e994";
}